<app-toaster></app-toaster>
<div *ngIf="loading" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
  <ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px' }"
  ></ngx-loading>
</div>
<mat-card class="example-card bg-emerald-950 text-white rounded-lg shadow-lg min-h-[600px] m-3">
  <mat-card-header>
    <mat-card-title class="text-xl font-bold">{{ title }}</mat-card-title>
  </mat-card-header>

  <a routerLink="/home/view/{{ articleId }}" class="block group">
    <div class="w-full h-64 overflow-hidden rounded-lg">
      <img
        mat-card-image
        [src]="thumbLink || 'https://placehold.co/600x400'"
        [alt]="'Image for ' + title"
        class="w-full h-full object-cover"
        style="max-height: 100%; max-width: 100%;"
      />
    </div>
  </a>

  <mat-card-content class="p-4 min-h-[200px]">
    <p class="text-black">
      {{ description | wordlimit:72 }}
    </p>
  </mat-card-content>

  <mat-card-actions class="flex justify-between items-center p-4">
    <button
      mat-button
      (click)="openDialog()"
      class="px-4 py-2 text-sm font-medium bg-purple-600 hover:bg-purple-700 text-white rounded"
    >
      Edit
    </button>
    <button
      mat-button
      (click)="delete()"
      class="px-4 py-2 text-sm font-medium bg-red-600 hover:bg-red-700 text-white rounded"
    >
      Delete
    </button>
  </mat-card-actions>
</mat-card>

