<app-toaster></app-toaster>
<mat-card class="example-card bg-emerald-950">
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <a routerLink="/home/view/{{articleId}}">
    <img 
        mat-card-image 
        [src]="thumbLink || 'https://placehold.co/600x400'" 
        alt="Photo of a Shiba Inu">
    </a>
      
        <mat-card-content>
          <p>
            {{ description | wordlimit:72 }}
    
          </p>
        </mat-card-content>
        <mat-card-actions class="flex justify-between">
          <button color="white" (click)="openDialog()" mat-button style="background-color: purple;">Edit</button>
          <button color="white" (click)="delete()" mat-button style="background-color: red;">Delete</button>
        </mat-card-actions>
      </mat-card>
  