
    <div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
      <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="example-app-name" color="primary">Article Hub</h1>
      </mat-toolbar>
  
      <mat-sidenav-container class="example-sidenav-container "
                            [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                    [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
                    <mat-nav-list>
                      <a  *ngFor="let nav of fillerNav" mat-list-item [routerLink]="nav.route">
                        <mat-icon mat-list-icon>{{ nav.icon }}</mat-icon>
                        <span mat-line>{{ nav.label }}</span>
                      </a>
                        <a (click)="logout()">
                          <mat-icon mat-list-icon>logout</mat-icon>
                        <span mat-line>Logout</span> 
                        </a>
                    </mat-nav-list>
                    
        </mat-sidenav>
  
        <mat-sidenav-content>
          <!-- @for (content of fillerContent; track content) {
      <p>{{content}}</p>
    } -->
      <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
 